#blog-carousel {
  height: 270px;
  [nz-carousel-content] {
    text-align: center;
    height: 270px;
    line-height: 270px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
  }
  h3 {
    color: #fff;
  }
}
