<div id="sidebar-wrapper">
  <ng-container *ngIf="isRouterProfile">
    <app-avatar class="sidebar-item"></app-avatar>
    <app-meta class="sidebar-item"></app-meta>
  </ng-container>
  <ng-container *ngIf="!isRouterProfile">
    <app-login class="sidebar-item"></app-login>
    <app-user *ngIf="false" class="sidebar-item"></app-user>
    <app-hot class="sidebar-item"></app-hot>
    <app-active class="sidebar-item"></app-active>
    <app-category class="sidebar-item"></app-category>
    <app-tags class="sidebar-item"></app-tags>
    <app-archive *ngIf="false" class="sidebar-item"></app-archive>
  </ng-container>
</div>
