<nz-radio-group [(ngModel)]="viewRouter" (ngModelChange)="onChangeView()">
  <label nz-radio-button nzValue="my-article">我的文章</label>
  <label nz-radio-button nzValue="my-collection">我的收藏</label>
</nz-radio-group>
<div class="fr manage-ops">
  <button nz-button (click)="toggleFilter()">
    {{isShowFilter ? '隐藏搜索框' : '显示搜索框'}}
  </button>
  <button nz-button (click)="toggleManage()">
    {{isManaging ? '取消管理' : '文章管理'}}
  </button>
  <button nz-button nzType="primary" routerLink="./publish">
    <i nz-icon type="edit"></i>写文章
  </button>
</div>
<router-outlet></router-outlet>
